---
layout: default
---

<div class="container mx-auto px-4">
  <div class="bg-gray-200 text-center px-4 py-2 mb-8">
    <h2>
      <span class="font-bold">Not into pixels?</span> Check out my other iconset <a class="underline hover:text-primary-500" href="http://www.majesticons.com" target="_blank" rel="noopener noreferrer">Majesticons</a>.
    </h2>
  </div>
</div>

<div class="container mx-auto px-4">
  <div class="grid xl:grid-cols-11 md:grid-cols-8 sm:grid-cols-6 grid-cols-3">
    {% for icon in pixelarticons %}
    <div class="px-2 py-8 inline-flex items-center justify-center flex-col text-center relative hover:bg-gray-200 group">
      {{ icon.sourceWithClass | safe }}
      <div class="w-full truncate px-2 text-gray-500 mt-4 text-xs">{{ icon.nameWithoutExtension }}</div>
      <div class="sr-only" id="icon-{{ icon.nameWithoutExtension }}">{{ icon.source }}</div>
      <button class="absolute bottom-4 opacity-0 group-hover:opacity-100 icon-clip inline-flex items-center px-4 py-2 shadow-lg text-sm font-medium text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-600" data-clipboard-target="#icon-{{ icon.nameWithoutExtension }}">Copy SVG</button>
    </div>
    {% endfor %}
  </div>
</div>