---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ meta.url }}/</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ meta.url }}/about/</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ meta.url }}/examples/</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ meta.url }}/legacy/</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ meta.url }}/icons.json</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
</urlset>
