<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ meta.title }} - {{ meta.description }}</title> 
        {% include "meta.html" %}
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
        <!-- Favicon -->
        <link rel="icon" href="/favicon.svg">
        
        <!-- StyleSheet -->
        <link rel="stylesheet" href="/style.css" />
        <script src="/js/alpine.js" defer></script>
    </head>

    <body class="bg-gray-100 flex items-center justify-center min-h-screen relative p-2 md:p-4">
        {{ content | safe}}
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    </body>

    <script src="/js/clipboard.js"></script>
    <script>
        var clipboard = new ClipboardJS(".icon-clip");

        clipboard.on("success", function (event) {
        //console.info("Action:", event.action);
        //console.info("Text:", event.text);
        //console.info("Trigger:", event.trigger);
        event.clearSelection();
        event.trigger.innerHTML = "<svg class='size-6' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M18 6h2v2h-2V6Zm-2 4V8h2v2h-2Zm-2 2v-2h2v2h-2Zm-2 2h2v-2h-2v2Zm-2 2h2v-2h-2v2Zm-2 0v2h2v-2H8Zm-2-2h2v2H6v-2Zm0 0H4v-2h2v2Z'/></svg>";
        window.setTimeout(function () {
            event.trigger.innerHTML = "<svg class='size-6' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M4 2h11v2H6v13H4V2Zm4 4h12v16H8V6Zm2 2v12h8V8h-8Z'/></svg>";
        }, 1500);
        });
    </script>
</html>

