<div class="bg-primary-50 py-16 md:py-24">
    <div class="container text-center">
        <h2 class="text-2xl md:text-5xl font-bold mb-8">
            Not your standard vector icons
        </h2>
        <h3 class="text-xl max-w-screen-lg text-gray-500 mx-auto">
            Pixelarticons are intended to be completely Figma native, dependable, of a high standard, and neutral enough to be used in any UI or online design project.
        </h3>
    </div>
    <div class="container grid grid-cols-1 md:grid-cols-4 gap-16 text-center mt-16 md:mt-24">
        {% for item in content %}
            <div class="flex flex-col items-center justify-center">
                <svg class="w-12 h-12 text-primary-600" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="{{item.svg}}" fill="currentColor"/>
                </svg>
                <h3 class="mt-8 mb-4 font-bold text-xl">{{item.title}}</h3>
                <p>{{item.text}}</p>
            </div>
        {% endfor %}
    </div>
</div>