<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ meta.title }} - {{ meta.description }}</title> 
    {% include "meta.html" %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <!-- Favicon -->
    <link rel="icon" href="/favicon.svg">
    
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body class="font-sans bg-white text-gray-800">
    {{ content | safe }}
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
  
  <script src="/js/clipboard.js"></script>
  <script>
    var clipboard = new ClipboardJS(".icon-clip");

    clipboard.on("success", function (event) {
      console.info("Action:", event.action);
      console.info("Text:", event.text);
      //console.info("Trigger:", event.trigger);
      event.clearSelection();
      event.trigger.textContent = "Copied!🎉";
      window.setTimeout(function () {
        event.trigger.textContent = "Copy SVG";
      }, 1500);
    });
  </script>
</html>
