<!DOCTYPE html>
<html lang="de" class="light">
  <head>
    <meta charset="UTF-8" />
    <title>{{ meta.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/alpine.js"></script>
  </head>
  <body class="font-sans bg-primary-100 dark:bg-primary-900">
    {{ content | safe }}
  </body>
</html>
