<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>{{ meta.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.svg">
    
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Scripts -->
    <script src="/js/alpine.js"></script>

  </head>
  <body class="font-sans text-black">
    {{ content | safe }}
  </body>
</html>
