<header class="py-4 bg-gray-900 text-white">
    <div class="container flex flex-wrap justify-center md:justify-between items-center">
        <a href="/" class="hidden md:flex flex-nowrap items-center hover:text-primary-500">
            <svg class="w-8 h-8 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3V21H5H19H21V3H19H5H3ZM19 5V19H5V5H19ZM7 7H13V9V11V13H9V15H7V13V11V9V7ZM15 13H13L13 15H11V17H13V15H15V17H17V15H15V13ZM15 13H17V11H15V13ZM9 9V11H11V9H9Z" fill="currentColor"/>
            </svg>
            <h1 class="text-lg font-bold tracking-wide">Pixelarticons v1.7.0</h1>
        </a>

        <div class="flex items-center justify-center flex-wrap mt-2 md:mt-0">
            <a class="transition-colors px-2 hover:text-primary-500 font-bold" href="/free">Free</a>
            <a class="transition-colors px-2 hover:text-primary-500 font-bold" href="https://github.com/halfmage/pixelarticons" target="_blank">Github</a>
            <a class="transition-colors px-2 hover:text-primary-500 font-bold" href="https://www.npmjs.com/package/pixelarticons" target="_blank">NPM</a>
            <a class="transition-colors px-2 hover:text-primary-500 font-bold" href="https://www.figma.com/community/file/952542622393317653" target="_blank">Figma</a>
            <a class="transition-colors px-4 py-2 bg-primary-600 hover:bg-primary-700 ml-2 text-white inline-flex items-center font-bold" href="https://halfmage.gumroad.com/l/pixelarticons-pro">
                Buy now
            </a>
        </div>
    </div>
</header>
