<div class="bg-gray-900 text-white">
  <div class="container pb-16 md:pb-24 pt-16">
    <div class="flex flex-col items-center text-center">
      <a href="https://github.com/halfmage/pixelarticons/releases/tag/v1.7.0" target="_blank" class="uppercase tracking-widest text-sm text-primary-400 font-medium">
        v1.7.0 Release - Moon, Sun and Clouds!
      </a>
      <h1 class="text-4xl md:text-6xl font-bold my-4 tracking-wider uppercase">Pixelarticons</h1>
      <h2 class="md:text-xl font-extralight text-gray-200 max-w-screen-md">
        480 open-source line pixel-art style icons, in one color and made with a 24x24px grid by <a href="https://twitter.com/halfmage" target="_blank" rel="noopener noreferrer">Gerrit Halfmann</a> . <a href="https://halfmage.gumroad.com/l/pixelarticons-pro" class="underline font-bold hover:text-primary-500">Pro version with 1,422 icons with 3 variants!</a>
      </h2>
    </div>
  </div>
</div>