<div class="bg-gray-900 text-white">
  <div class="container py-8 md:py-16 lg:pb-24">
    <div class="flex flex-col items-center text-center">
      <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl my-8 uppercase tracking-wider font-pixel">Pixelarticons</h1>
      <h2 class="md:text-xl font-extralight text-gray-200 max-w-screen-md">
        486 open-source pixel art icons (line variant), in one color and made with a 24x24px grid by <a href="https://twitter.com/halfmage" target="_blank" rel="noopener noreferrer">Gerrit Halfmann</a> . <a href="https://halfmage.gumroad.com/l/pixelarticons" class="underline font-bold hover:text-primary-500">Pro version with 1,944 icons with 4 variants!</a>
      </h2>
    </div>
  </div>
</div>