@import "normalize";
@import "grid";

body {
  background-color: #f4f4f4;
  font-family: 'Space Mono';
  font-weight: 16px;
}

a {
  color: #00b;
}

.col-icon {
  margin-bottom: 1.5rem;
}

.icon-container {
  text-decoration: none;
  display: block;

  &:hover {
    .image-container {
      box-shadow: 0 0 0 2px rgba(0,0,0,.125);
      img {
        transform: scale(2);
      }
    }
  }

  .image-container {
    background-color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: .5rem;
    box-shadow: 0 0 0 2px rgba(0,0,0,0);
    transition: box-shadow .25s;

    img {
      display: inline-block;
      width: 24px;
      height: 24px;
      transition: transform .25s;
    }
  }

  .icon-name {
    font-size: 12px;
    color: rgba(0,0,0,.85);
    line-height: 1.5;
    text-align: center;
  }
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .badge {
    background-color: #111;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: .25rem .5rem;
  }

  a {
    display: inline-block;
    margin-top: 1rem;

    @media (min-width: 48em) {
      margin-top: 0;
    }
  }

  a + a {
    margin-left: 1rem;
  }
}

.hero {
  padding: 4rem 0;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 2rem;
  }

  .button {
    padding: .75rem 1rem;
    border: 2px solid #000;
    text-decoration: none;
    background-color: #fff;
    display: inline-block;

    &:hover {
      background-color: #00b;
      border-color: #00b;
      color: #fff;
    }

    &.primary {
      background-color: #00b;
      border-color: #00b;
      color: #fff;

      &:hover {
        background-color: #00f;
        border-color: #00f;
      }
    }

    & + .button {
      margin-left: 1rem;
    }
  }
}

.headline {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.headline-small {
  font-size: 20px;
  margin: 0 0 .5rem;
}