@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Superstar';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/superstar_memesbruh03.woff') format('woff');
}